# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual env
.venv/
env/
venv/

# IDEs
.vscode/
.idea/

# Sistema
.DS_Store
Thumbs.db

# Segredos
.env

# Saídas (se não quiser versionar CSVs gerados)
*.csv

# Visualização de erro
artifacts

# CREDENCIAIS BASE
.base

# html da página
.ref